@charset "UTF-8";

a {
    text-decoration: none;
}

.tudo {

    justify-content: center;
    width: 500pc;
    min-height: 560px;
    margin: 0px;
    position: relative;
}

h1 {
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

label {
    color: black;
    position: relative;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6 );
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(61, 157, 179);
    padding: 8px 5px;
    color: white;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;

    border-radius: 5px;
}

input {
    outline: none;
}

#login {
    position: absolute;
    top: 0px;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border-top: 1px solid rgba(147, 184,189 ,0.8 );

    border-radius: 5px;
}

.link {
    
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 5px;
    width: 282px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;

    border-radius: 0 0 5px 5px;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgba(29,162 , 193);
    margin-left: 10px;
    border: 1px solid #cbd518;
    border-radius: 4px;
}
